export("go")

importFrom(utils, data, find)
importFrom(utils,getParseData)
importFrom(methods,is)

importFrom(shiny, fluidRow, column)
importFrom(shiny,actionButton)
importFrom(shiny,checkboxInput)
importFrom(shiny,numericInput)
importFrom(shiny,radioButtons)
importFrom(shiny,selectizeInput)
importFrom(shiny,sliderInput)
importFrom(shiny,textInput)
importFrom(shiny,htmlOutput)
importFrom(shiny,imageOutput)
importFrom(shiny,plotOutput)
importFrom(shiny,tableOutput)
importFrom(shiny,textOutput)
importFrom(shiny,verbatimTextOutput)
importFrom(shiny,uiOutput)
importFrom(shiny,renderImage)
importFrom(shiny,renderPlot)
importFrom(shiny,renderPrint)
importFrom(shiny,renderText)
importFrom(shiny,renderUI)
importFrom(shiny,reactiveValues)
importFrom(shiny,isolate)
importFrom(shiny,observe)
importFrom(shiny,observeEvent)
importFrom(shinyWidgets,dropdownButton)
importFrom(shinyWidgets,tooltipOptions)
importFrom(shinydashboard,dashboardPage)
importFrom(shinydashboard,dashboardHeader)
importFrom(shinydashboard,dashboardSidebar)
importFrom(shinydashboard,dashboardBody)
importFrom(shinydashboard,sidebarMenu)
importFrom(shinydashboard,menuItem)
importFrom(shinydashboard,menuSubItem)
importFrom(shinydashboard,tabItem)
importFrom(shinydashboard,tabItems)
importFrom(shinydashboard,box)
importFrom(shinyFiles, shinyFileChoose, shinyFilesButton, parseFilePaths)
importFrom(shinyFiles, shinyFileSave,   shinySaveButton,  parseSavePath)

importFrom(rhandsontable, rhandsontable, rHandsontableOutput, renderRHandsontable,
                          hot_to_r, hot_cols, hot_table)
importFrom(sortable, rank_list)

importFrom(htmltools,HTML)
importFrom(htmltools,div)
importFrom(htmltools,br)
importFrom(htmltools,img)
importFrom(htmltools,h3)
importFrom(htmltools,hr)
importFrom(htmltools,tagList)
importFrom(htmltools,tags)
importFrom(htmltools,em)
importFrom(htmltools,span)
importFrom(htmltools,strong)

importFrom(purrr, map, map_lgl, map_chr, map2, walk)
importFrom(magrittr,"%>%")

importFrom(glue,glue)
importFrom(stringr,str_detect)
importFrom(stringr,str_extract)
importFrom(stringr,str_replace)
importFrom(stringr,str_replace_all)
importFrom(stringr,str_to_lower)

importFrom(tibble,add_row)
